<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <form action="/ask">
    <div class="input-group">
      <input type="text" name="query" class="form-control">
      <input type="submit" value="Ask" class="btn btn-primary">
    </div>
  </form>
